@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primaryColor: #1e78b1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --lightBlue: #60b0e2;
  --mainWhite: #ffffff;
  --mainBlack: #0d090a;
  --mainGrey: #e8e7e7;
  --mainYellow: #c39900;
  --mainSpacing: 0.1rem;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/* Section Title */
.section-title-special {
  background: var(--primaryColor);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite);
  z-index: 999;
}
.hidePreloader {
  display: none !important;
}

/* NAVBAR */
.navbar {
  background: var(--mainWhite);
}
.navbar-icon {
  font-size: 2rem;
  color: var(--primaryColor);
}
.navbar-toggler {
  outline-color: var(--mainYellow) !important;
}
.nav-link {
  color: var(--mainBlack);
  font-weight: 600;
  text-transform: capitalize;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.nav-link:hover {
  color: var(--primaryColor);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.nav-icon:hover {
  color: var(--mainYellow);
}

/* HEADER */
.header {
  color: var(--mainWhite);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
  overflow: hidden;
}
.height-max {
  min-height: calc(100vh - 85px); /* takes 100% of any size screen */
  background: url("../img/banner1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) translateX(-5%);
  }
  100% {
    transform: scale(1);
  }
}
.title-heading {
  background: rgba(0, 0, 0, 0.4);
  border-left: 0.3rem solid var(--lightBlue);
}
.title {
  font-weight: 700;
  font-size: 1.9rem;
  color: #c4dbf7;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
.title-icon {
  color: var(--lightBlue);
  text-decoration: none !important;
}
.title-icon:hover {
  color: var(--lightBlue);
  opacity: 0.6;
}

/* SKILLS */
.skills-icon {
  font-size: 3rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
}
.skills-icon:hover {
  color: var(--mainYellow);
}
.skills-underline {
  width: 4rem;
  height: 0.3rem;
  background: var(--lightBlue);
  margin: 1rem auto;
}

/* INVENTORY */
.inventory {
  background: var(--mainGrey);
}
.car-card {
  border-radius: 0 !important;
}
.car-img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.car-value {
  background: var(--primaryColor);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transition: all 1s linear;
}
.car-value:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* QUESTIONS */
.question {
  background: url("../img/question.jpg") center/cover fixed no-repeat;
}
.question-grey {
  background: rgba(79, 109, 122, 0.75);
}
.question-yellow {
  background: rgba(146, 125, 50, 0.75);
}
.question-icon {
  font-size: 4rem;
  color: var(--primaryColor);
  transition: all 0.5s ease-in-out;
}
.question-icon:hover {
  transform: translateY(-10%);
  color: var(--primaryColor);
}
.question-info {
  color: var(--mainWhite);
}

/* FEATURED */
.featured {
  background: var(--mainGrey);
}
.featured-item {
  background: var(--mainWhite);
  border-radius: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.featured-item:hover {
  opacity: 1;
  transform: scale(1.05);
}
.featured-icon {
  font-size: 1.5rem;
  color: var(--mainYellow);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.featured-icon:hover {
  color: var(--primaryColor);
}
.img-container {
  background: var(--primaryColor);
  position: relative;
  overflow: hidden; /*dont let the transform zoom expand over the borders*/
}
.featured-photo {
  transition: all 1s ease-in-out;
}
.img-container:hover .featured-photo {
  transform: scale(1.3);
  opacity: 0.5;
}
.featured-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%); /*place the search icon in the center*/
  color: var(--mainBlack);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.featured-link:hover {
  color: var(--mainWhite);
}
.img-container:hover .featured-link {
  opacity: 1;
}

/* CUSTOMER QUOSTES */
/* .customer {
  background: var(--mainWhite);
}
.customer-img {
  border: 0.4rem solid var(--mainWhite);
}
.customer-name {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1.3rem;
}
.customer-job {
  font-size: 0.9rem;
}
.customer-icon {
  font-size: 2rem;
  color: var(--mainGrey);
}
.quote-text {
  font-size: 0.9rm;
}
.quote-icon {
  font-size: 3rem;
} */
.customer {
  background-image: url(../img/customer1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 180px 0;
  position: relative;
}
.customer:before {
  position: absolute;
  content: "";
  background: var(--mainWhite);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.single-quote {
  color: var(--mainWhite);
  padding-left: 75px;
  position: relative;
  margin: 0 15px 15px;
}
.single-quote:hover .quote-text {
  background: #ccaf47;
  transition: 1s;
}
.quote-img {
  border-radius: 50%;
  height: 150px;
  left: 0;
  margin-top: -75px;
  position: absolute;
  top: 50%;
  width: 150px;
}
.quote-img > img {
  background: linear-gradient(to bottom, #1e78b1, #abd4ee);
  border-radius: 50%;
  padding: 5px;
}
.quote-text {
  background: var(--mainYellow);
  padding: 40px 20px 40px 100px;
  color: var(--mainGrey);
}
.quote-text h4 {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.quote-text h4 span {
  font-size: 1rem;
  display: block;
  font-style: italic;
}
/* nav arrows */
.customer div.owl-nav {
  color: var(--mainYellow);
  display: inline-block;
  font-size: 40px;
  height: 60px;
  margin-top: -30px;
  text-align: center;
  width: 40px;
  transition: 0.3s;
}
.owl-prev,
.owl-next {
  position: absolute;
}
.owl-prev {
  left: -20px;
  top: 100px;
}
.owl-next {
  right: -15px;
  top: 100px;
}
/* responsive version */
@media only screen and (max-width: 767px) {
  .customer {
    padding: 15px 0;
  }
  .single-quote {
    padding-left: 0;
    padding-top: 75px;
    margin: 0 25px 0 25px;
  }
  .quote-img {
    left: 50%;
    margin-left: -75px;
    top: 75px;
  }
  .quote-text {
    padding: 80px 25px 25px;
  }
  .quote-text h4 {
    margin-bottom: 20px;
  }
  .owl-prev {
    left: 1px;
    top: 150px;
  }
  .owl-next {
    right: 1px;
    top: 150px;
  }
}

/* CONTACT US */
.contact {
  padding: 40px;
  background: url(../img/contact.jpg) center/cover fixed no-repeat;
  color: var(--mainWhite);
}
.contact .form-control {
  border-radius: 0 !important;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.contact button {
  background-color: var(--mainYellow);
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--mainWhite);
}
.contact button:hover {
  background-color: var(--primaryColor);
}
.text-under-title {
  color: var(--mainGrey);
}

/* FOOTER */
.footer {
  background: var(--mainBlack);
}
.footer-icon {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainYellow);
}
.footer-icon:hover {
  color: var(--primaryColor);
}
.copyright {
  color: var(--lightBlue);
}
