/*
c44f2f-565554-f4a698-f6f5ae-0d090a 
$color1: rgba(235, 94, 85, 1);
$color2: rgba(86, 85, 84, 1);
$color3: rgba(244, 166, 152, 1);
$color4: rgba(246, 245, 174, 1);
$color5: rgba(13, 9, 10, 1); 
*/

@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primaryColor: #1e78b1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --lightBlue: #60b0e2;
  --mainWhite: #ffffff;
  --mainBlack: #0d090a;
  --mainGrey: #d4d3d3;
  --mainYellow: #c39900;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
/* Section Title */
.section-title-special {
  background: var(--primaryColor);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite);
  z-index: 999;
}
.hidePreloader {
  display: none !important;
}

/* NAVBAR */
.navbar {
  background: var(--mainWhite);
}
.navbar-icon {
  font-size: 2rem;
  color: var(--primaryColor);
}
.navbar-toggler {
  outline-color: var(--mainYellow) !important;
}
.nav-link {
  color: var(--mainBlack);
  font-weight: 600;
  text-transform: capitalize;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.nav-link:hover {
  color: var(--primaryColor);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.nav-icon:hover {
  color: var(--mainYellow);
}
/* HEADER */
.header {
  color: var(--mainWhite);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
  overflow: hidden;
}
.height-max {
  min-height: calc(100vh - 85px); /* takes 100% of any size screen */
  background: url("../img/banner1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) translateX(-5%);
  }
  100% {
    transform: scale(1);
  }
}
.title-heading {
  background: rgba(0, 0, 0, 0.4);
  border-left: 0.3rem solid var(--lightBlue);
}
.title {
  font-weight: 700;
  font-size: 1.9rem;
  color: #c4dbf7;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
.title-icon {
  color: var(--lightBlue);
  text-decoration: none !important;
}
.title-icon:hover {
  color: var(--lightBlue);
  opacity: 0.6;
}

/* SKILLS */
.skills-icon {
  font-size: 3rem;
  color: var(--lightBlue);
  background: var(--mainGrey);
}
.skills-icon:hover {
  color: var(--lightBlue);
}
.skills-underline {
  width: 4rem;
  height: 0.3rem;
  background: var(--lightBlue);
  margin: 1rem auto;
}

/* INVENTORY */
.inventory {
  background: var(--mainGrey);
}
.car-card {
  border-radius: 0 !important;
}
.car-img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.car-value {
  background: var(--primaryColor);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transition: all 1s linear;
}
.car-value:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* QUESTIONS */
